body{
    padding: 40px;
    margin: 0px;
    
}
h1{
    padding: 20px;
}
p{
    font-size: small;
    padding: 20px;
}
.num1{
    background-color: greenyellow;
    position: absolute;
    margin-left: 1000px;
    border: 5px;
    width: 30%;
    border: solid;
    border-radius: 10px;
}
.num2 {
    background-color: aqua;
    position: fixed;
    border: 5px;
    width: 50%;
    border: solid;
    border-radius: 10px;

}
.num3{
    background-color: coral;
    position: sticky;
    margin-top: 220px;
    border: 5px;
    border: solid;
    border-radius: 10px;

}
.num4{
    background-color: rgb(111, 0, 255);
    margin-top: 30px;
    border: solid;
    border-radius: 10px;
}